<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <style>
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
  a{
    color: #653096;
    text-decoration: none;
  }
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color: purple;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.buttonedit {
  background-color: purple; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
   </style>
<body>
  <%-include("../partials/sidebar_doctor"),{email:email}%>
  <section class="home-section">     
      <br>
      <br>
      <br>
      <h2 style="margin-left: 20px;">Patients</h2>
      <br>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Blood Group</th>
          <th>Phone</th>
          <th>Profile</th>
        </tr>    
          <%patient.forEach((element,index)=>{%>
            <tr>
              <td><%=element['name']%></td>
              <td><%=element['email']%></td>
              <td><%=element['gender']%></td>
              <td><%=element['dateofbirth']%></td>
              <td><%=element['bloodgroup']%></td>
              <td><%=element['contact']%></td>
              <td><a href="/admin/<%=email%>/patientlist/<%=element['documentid']%>?patientemail=<%=element['email']%>">Details</a></td>
            </tr>
          <%})%>          
      </table>
      <div>           
      </div>     
  </section>
  <script src="/javascript/sidebar.js"></script>
</body>
</html>