
<nav class="navbar navbar-expand-lg" style="background-color: purple;">
  <a href="/doctor/<%=email%>">
    <img src="/images/heart.png" class="navbar-item" width="50px">
  </a>
    <ul class="navbar-nav me-auto">
      <li>
        <h4><a class="nav-link" href="/doctor/<%=email%>/patientlist" style="color: white;">Patients</a></h4>
      </li>
      <li>
        <h4><a class="nav-link" href="/doctor/<%=email%>/appointment" style="color: white;">Appointments</a></h4>
      </li>
      <li>
        <h4><a class="nav-link" href="/doctor/<%=email%>/profile" style="color: white;">Profile</a></h4>
      </li>
      <li>
        <form action="/auth/logout?email=<%=email%>" method="POST">
          <button type="submit">Logout</button>
        </form> 
      </li>
    </ul>
  </div>
</nav>