<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <style>
     body{
       background-color: #E4E9F7;;
     }  
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

   </style>
<body>
  <%-include('../partials/sidebar_doctor',{email:email})%>
  <section class="home-section">
        <br>
        <br>
        <br>
        <br>
      <div>
        <table>
          <tr>
            <th>PatientName</th>
            <th>PatientEmail</th>
            <th>Visit-Type</th>
            <th>Date</th>
            <th>Appointment-Type</th>
            <th>Reason</th>
          </tr>
          <%appointment.forEach((item)=>{%>
            <tr>
              <td><%=item['patientname']%></td>
              <td><%=item['patientemail']%></td>
              <td><%=item['visittype']%></td>
              <td><%=item['date']%></td>
              <td><%=item['appointmenttype']%></td>
              <td><%=item['reason']%></td>
              <!-- <td><a href="">Details</a></td> -->
            </tr>
          <%})%>
        
        </table>
      </div>
     
  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>







